resource "rancher2_cluster" "rke_ec2" {
  name = var.rke_cluster_name
  description = "lprates lab"
  rke_config {
    kubernetes_version = "v1.21.13-rancher1-1"
    network {
      plugin = "canal"
      options = {
        canal_iface = "ens5"
      }
    }
    services {
      etcd {
        creation = "6h"
        retention = "72h"
      }
    }
    ingress {
      default_backend = "false"
    }
    addons = <<-EOT
       ---
       apiVersion: v1
       kind: ConfigMap
       metadata:
         name: kubernetes-services-endpoint
         namespace: kube-system
       data:
         IP_AUTODETECTION_METHOD: interface=ens5
    EOT 
  }
  cluster_auth_endpoint {}
}