apiVersion: fleet.cattle.io/v1alpha1
kind: GitRepo
metadata:
  name: nginx
  namespace: fleet-default
spec:
  branch: develop
  insecureSkipTLSVerify: true
  paths:
    - /lab/rancher/fleet/multi-cluster/helm/nginx/
  repo: https://github.com/leonardoalvesprates/k8s.git
  targets:
    - clusterSelector:
        matchLabels:
          env: dev
      name: dev