curl -sfL https://get.k3s.io | K3S_TOKEN=SECRET sh -s - --write-kubeconfig-mode 644 --cluster-init
#
curl -sfL https://get.k3s.io | K3S_TOKEN=SECRET sh -s - --server https://URL:6443
#
curl -sfL https://get.k3s.io | K3S_TOKEN=SECRET sh -s - agent --server https://URL:6443 --token ${NODE_TOKEN}
